html{
    position:   relative;
}
body{
    min-height: 100vh;
    background-color: cornsilk;
  }
#root{
    min-height: 100vh;
    position:relative;
}

.standardButton{
    background-color: rgb(154, 90, 0);
    border:none;
    color:white;
    cursor: pointer;
    font-size: 1.2em;
    text-align: center;
}

.standardButton:hover{
    background-color: rgb(198, 116, 0);
    
}